.Group {
    flex: 4;
}

.Group {
    padding: 0px 100px 0 100px;
}

.GroupList {
    display: flex;
    align-items: center;
}

.GroupListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.GroupListDelete {
    color: red;
    cursor: pointer;
}
.GroupAddButton{
    width: 100px ;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 40px;
    cursor:pointer;
    color: white;
    font-size: 20px;
}