.TaskEdit {
    flex:4;
    padding: 20px;
    
}

.TaskTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .TaskAddButton{
    width: 100px ;
    height: 40px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 40px;
    cursor:pointer;
    color: white;
    font-size: 20px;
}

.TaskContainer{
    display: flex;
    margin-top: 20px;
    padding: 0 600px 0 600px;
} 
.TaskUpDate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75) ;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75) ;
    margin-left: 20px;
}  






.TaskUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.TaskUpdateFrom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.TaskUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.TaskUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.TaskUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}


.TaskUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TaskUpdateUpload
{
    display: flex;
    align-items: center;

}

.TaskUpdateIcon{
    cursor: pointer;

}

.TaskUpdateButton{
    border-radius: 5px;
    border:none;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}
